<div class='flex flex-col'>
  {{> nav}}
  <div class='m-4'>
    <h1>Viewing history</h1>
    <div class='m-4'>
      <table>
        <tr>
          <th class='border-2 p-1 pl-2 pr-2'>Title</th>
          <th class='border-2 p-1 pl-2 pr-2'>Watched</th>
        </tr>
        {{#each history}}
          <tr class='mt-1'>
            <td class='border-2 p-1 pl-2 pr-2'>
              <a href='/videos/{{this.videoId}}'>{{this.title}}</a>
            </td>
            <td class='border-2 p-1 pl-2 pr-2'>
              {{this.updatedAt}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>