<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FlixTube: Upload video</title>

    <link rel="stylesheet" href="/css/tailwind.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <script src="js/upload.js"></script>

    <div class="flex flex-col">
        <div class="border-b-2 bg-gray-100">
            <div class="nav flex flex-row items-center mt-1 p-2">
                <div class="text-xl font-bold">
                    <a href='/videos'>FlixTube</a>
                </div>
                <div class="ml-16 border-b-2 border-blue-600">
                    <a href="/videos">Videos</a>
                </div>
                <div class="ml-4">
                    <a href="/upload">Upload</a>
                </div>
                <div class="ml-4">
                    <a href="/history">History</a>
                </div>
                <div class="ml-16">
                    {{#if user}}
                    [ {{ user.email }} ] <a href="/logout"> logout</a>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="m-4">
            <h1>Playing {{video.title}}</h1>
            <div class="m-4">
                <video controls autoplay muted>
                    <source src="/video/{{video.path}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
</body>

</html>