<div class='flex flex-col'>
  {{> nav}}
  <div class='m-4'>
    <h1>Playing {{video.title}}</h1>
    <div class='m-4'>
      <video controls autoplay muted>
        <source src='{{video.path}}' type='video/mp4' />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>