<div class='flex flex-col'>
  {{> nav}}
  <div class='m-4'>
    <h1>Videos</h1>
    <div id='video-list' class='m-4'>
      {{#if videos}}
        <table>
          <tr>
            <th class='border-2 p-1 pl-2 pr-2'>Title</th>
            <th class='border-2 p-1 pl-2 pr-2'>Disc</th>
          </tr>
          {{#each videos}}
          <tr class='mt-1'>
            <td class='border-2 p-1 pl-2 pr-2'>
              <a href='videos/{{this._id}}'>{{this.title}}</a>
            </td>
            <td class='border-2 p-1 pl-2 pr-2'>
              {{this.description}}
            </td>
          </tr>
          {{/each}}
        </table>
      {{else}}
        No videos uploaded yet.
      {{/if}}
    </div>
  </div>
</div>