<nav>
  <div class='border-b-2 bg-gray-100'>
    <div class='nav flex flex-row items-center mt-1 p-2'>
      <div class='text-xl font-bold'>
        <a href='/videos'>Tuplus</a>
      </div>
      <div class='ml-16 {{#if isVideos}}border-b-2 border-blue-600{{/if}}'>
        <a href='/videos'>Videos</a>
      </div>
      <div class='ml-4 {{#if isUpload}}border-b-2 border-blue-600{{/if}}'>
        <a href='/upload'>Upload</a>
      </div>
      <div class='ml-4 {{#if isHistory}}border-b-2 border-blue-600{{/if}}'>
        <a href='/history'>History</a>
      </div>
      <div class='ml-4 {{#if isPayments}}border-b-2 border-blue-600{{/if}}'>
        <a href='/payments'>Payments</a>
      </div>
      <div class='ml-16'>
        {{#if user}}
          [
          {{user.email}}
          ]
          <a href='/logout'> logout</a>
        {{else}}
          <a href='/login'>login</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>